@import "../../color.inc.less";

@highlight: #874;
@input: #555;
@overlay: #444;
@primary: #333;
@secondary: #666;
@tertiary: #9b4;

@accent: #f66;
@paragraph: #ddd;
@reference: #eee;
@title: #eee;

@status-fail: #655;
@status-info: #556;
@status-ok: #565;
