
@import '../../color.inc.less';

@highlight:		#463119;
@input:			#463119;
@overlay:		#444;
@primary: 		#222;
@secondary:		#F88500;
@tertiary:		#F88500;

@accent:		#F0F;
@paragraph:		#FFDD87;
@reference:		#FFB45E;
@title:			white;

@status-fail:	#ECC;
@status-info:	#CCE;
@status-ok:		#CDC;
