/node_modules/
/setup/schedule/.token
/setup/vagrant/.vagrant
/setup/vagrant/*.log
/src/library/*
!/src/library/.creep.def
/src/config.php
/src/config.php.*
!/src/config.php.dist
/src/static/**/*.css
/src/static/.htaccess
/src/.htaccess
/tmp/
/package-lock.json
.creep.env
