
.glyph10 {
	.add {
		background-image:	url('glyph/10/plus.png');
	}

	.bottom {
		background-image:	url('glyph/10/arrow-down-end.png');
	}

	.create {
		background-image:	url('glyph/10/sun.png');
	}

	.down {
		background-image:	url('glyph/10/arrow-down.png');
	}

	.merge {
		background-image:	url('glyph/10/join.png');
	}

	.order {
		background-image:	url('glyph/10/arrow-up-end.png');
	}

	.permission {
		background-image:	url('glyph/10/shield.png');
	}

	.remove {
		background-image:	url('glyph/10/minus.png');
	}

	.top {
		background-image:	url('glyph/10/arrow-up-end.png');
	}

	.up {
		background-image:	url('glyph/10/arrow-up.png');
	}
}
