
@section-back:		@input-back;
@section-border:	@input-border;
@section-text:		mix(@main-text, @section-back, 60%);

.glyph10 {
	.active,
	.active-first {
		background-image:	url('../../glyph/10/bull-navy.png');
	}

	.active-other,
	.active-self {
		background-image:	url('../../glyph/10/bull-blue.png');
	}

	.ban {
		background-image:	url('../../glyph/10/block.png');
	}

	.directory {
		background-image:	url('../../glyph/10/user.png');
	}

	.log {
		background-image:	url('../../glyph/10/calendar.png');
	}

	.new-first {
		background-image:	url('../../glyph/10/bull-green.png');
	}

	.new-other,
	.new-self {
		background-image:	url('../../glyph/10/bull-lime.png');
	}

	.organize {
		background-image:	url('../../glyph/10/suitcase.png');
	}

	.permission {
		background-image:	url('../../glyph/10/shield.png');
	}

	.subscription {
		background-image:	url('../../glyph/10/star.png');
	}
}

div.forum {
	h2 {
		margin-top:	0;
	}

	table.blocks {
		width:				100%;
		border-color:		@section-border;
		border-collapse:	collapse;
		border-style:		solid none none none;
		border-width:		1px;

		div.control {
			text-align:	right;
		}

		td.blank {
			width:				8px;
			background-color:	@section-back;
		}

		td.info {
			width:	120px;
		}

		td.info,
		td.last {
			@media screen and (max-width: 800px) {
				display:	none;
			}
		}

		td.info,
		td.status {
			border-color:	@section-border;
			border-style:	none solid none solid;
			border-width:	1px;
			text-align:		center;
		}

		td.last {
			width:				216px;
			padding:			8px;
			background-color:	@section-back;
			color:				@section-text;
		}

		td.link {
			padding:			8px;
			background-color:	@section-back;

			a.name {
				font-size:	110%;
			}
		}

		td.split {
			padding:		8px;
			border-color:	@section-border;
			border-style:	solid none solid none;
			border-width:	1px;
		}

		td.status {
			width:			40px;
			vertical-align:	middle;

			div {
				width:		16px;
				height:		16px;
				margin:		auto;
				background:	transparent url('../../../../image/unknown.png') no-repeat;

				&.fresh {
					background-image:	url('../../glyph/16/tag-pink.png');
				}

				&.stale {
					background-image:	url('../../glyph/16/tag-grey.png');
				}

				&.private {
					background-image:	url('../../glyph/16/lock.png');
				}
			}
		}

		tr:hover {
			td.blank,
			td.last,
			td.link {
				background-color:	darken(@section-back, 5%);
			}
		}
	}
}

div.last {
	div.sources {
		display:		table;
		table-layout:	fixed;
		width:			100%;

		div.source {
			display:	table-cell;

			@media screen and (max-width: 600px) {
				display:	block !important;
				min-width:	100%;
			}

			div.topic {
				line-height:	180%;
			}

			ul.topics {
				padding:	0 4px;
				margin:		8px 0;
				list-style:	none;

				div.ellipsis {
					@media screen and (min-width: 600px) {
						overflow:		hidden;
						white-space:	nowrap;
						padding-right:	4px;

						a.label {
							display:				inline-block;
							overflow:				hidden;
							text-overflow:			ellipsis;
							vertical-align:			top;
							transition-duration:	100ms;
						}
					}
				}
			}
		}
	}
}
