
@import '../../color.inc.less';

@highlight:		#870;
@input:			#111;
@overlay:		#333;
@primary: 		#443;
@secondary:		#551;
@tertiary:		#9B4;

@accent:		#DB2;
@paragraph:		#BBB;
@reference:		#DDD;
@title:			#EEE;

@status-fail:	#B88;
@status-info:	#88A;
@status-ok:		#8A8;
