@import "../../page.inc.less";
@import "color.inc.less";

.page-header {
  background: @header-back url("background/header.png") repeat;

  div.logo a.default {
    background-image: url("glyph/logo.png");
  }

  div.partners a {
    background-image: url("glyph/infomaniak.png");
  }
}

.panel {
  padding: 2px;
  border-style: solid;

  &.panel-decorate {
    .panel-body {
      background-image: url("background/panel.png");
      background-size: auto auto;
    }
  }

  h2 {
    margin-bottom: 2px;
  }

  div.panel-footer {
    border-style: none;
  }
}
