/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/

.markItUp {
	.markItUpHeader ul {
		li.markItUpSeparator {
			background:	#CCC;
		}

		ul {
			background-color:	#F5F5F5;
			border-color:		#3C769D;

			.markItUpDropMenu {
				background-color:	#F5F5F5;
			}

			a:hover {
				background-color:	#3C769D;
				color:				white;
			}

			li {
				border-color:	#3C769D;
			}
		}
	}

	.markItUpPreviewFrame {
		background-color:	#463119;
		border-color:		#FFB45E #9A5200 #9A5200 #FFB45E;
		box-shadow:			2px 2px 2px #FFB45E;
	}
}
