
@import '../../color.inc.less';

@highlight:		#BA6;
@input:			#F7F8FC;
@overlay:		#DDD;
@primary: 		#469;
@secondary:		darken(#8AD, 15%);
@tertiary:		#9B3;

@accent:		#FAF;
@paragraph:		#333;
@reference:		#046;
@title:			white;

@status-fail:	#ECC;
@status-info:	#CCE;
@status-ok:		#CDC;
