
@import '../../color.inc.less';

// Background styles
@highlight:		#BA5;
@input:	        #F7F8FC;
@overlay:   	#EEE;
@primary:   	#E7EBF7;
@secondary:		#7199CE;
@tertiary:		#9B4;

// Foreground styles
@accent:		#B30;
@paragraph:		#333;
@reference:	    #446;
@title: 		white;

// Status styles
@status-fail:	#ECC;
@status-info:	#CCE;
@status-ok:		#CDC;
