
@import '../../color.inc.less';

@highlight: 	#59A;
@input:			#FCFAF7;
@overlay:		#F2E7D6;
@primary: 		#F5EDDF;
@secondary:		#CA956E;
@tertiary:		#C2913D;

@accent:		#A42;
@paragraph:		#320;
@reference:		#651;
@title:			white;

@status-fail:	#ECC;
@status-info:	#CCE;
@status-ok:		#CDC;
