
@import '../../color.inc.less';

@highlight:		#6E82A6;
@input:			#F5F9FD;
@overlay:		#E4EAF2;
@primary: 		white;
@secondary:		#AAB5CA;
@tertiary:		#BAAECE;

@accent:		#B30;
@paragraph:		#333;
@reference:		#444;
@title:			white;

@status-fail:	#ECC;
@status-info:	#CCE;
@status-ok:		#CDC;
