
@import '../../color.inc.less';

@highlight: 	#BA4;
@input:			#E8ECF0;
@overlay:		#E0E8F0;
@primary: 		#D3D8EF;
@secondary:		#89D;
@tertiary:		#9B4;

@accent:		#B30;
@paragraph:		#333;
@reference:		#446;
@title:			white;

@status-fail:	#ECC;
@status-info:	#CCE;
@status-ok:		#CDC;
