@import "../../color.inc.less";

@highlight: #cb6;
@input: #fff;
@overlay: #f7f7f7;
@primary: #fff8b5;
@secondary: #7199ce;
@tertiary: #9b4;

@accent: #b30;
@paragraph: #333;
@reference: #244;
@title: white;

@status-fail: #ecc;
@status-info: #cce;
@status-ok: #cdc;
