
@import '../../color.inc.less';

@highlight:		#A68;
@input:			#FAFFFA;
@overlay:		#CDC;
@primary: 		#ACA;
@secondary:		#799;
@tertiary:		#DEC;

@accent:		#7A7;
@paragraph:		#333;
@reference:		#446;
@title:			white;

@status-fail:	#CAA;
@status-info:	#AAC;
@status-ok:		#ABA;
